/* The Modal (background) */
#modal-window {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 75%;
}

.modal-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url(modal-close.png);
}

@media screen and (max-width: 668px) {
    .modal-content {
        padding: 10px;
        width: 90%;
        margin-top: 20px;
    }

    #modal-window {
        overflow: scroll;
    }

}